.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 170px;
  left: 70px;
}
.form-add {
  display: flex;
  align-items: center;
  gap: 70px;
}
.home_input {
  display: flex;
  gap: 30px;
}

.form_search {
  display: flex;
  gap: 230px;
}

.button_search {
  display: flex;
  align-items: center;
}
