.list-add-clients {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.block-top-button{
display: flex;
gap: 430px;
}
.button_backHome {
 

}
.button_addExercises {

}

.clientList{
  margin-left: 50px;
}
  .buttonDel {
    width: 10px;
    height: 10px;
    font-size: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
    float: right;
  }


    .feature {
      display: flex;
      margin: 2px 0;
      position: relative;
    }
 
    .feature-content {
      display: flex;
      gap: 3px;

      .index {
        background: rgb(132, 132, 137);
        width: 15px;
        height: 30px;
        border: 1px solid rgb(158, 156, 156);
        border-radius: 3px;

        span {
          font-size: 12px;
          //  margin: 3px 2px;
          text-align: center;
          vertical-align: bottom;
          color: azure;
        }
      }
      .surname {
        background: rgb(132, 132, 137);
        width: 300px;
        height: 30px;
        border: 1px solid rgb(158, 156, 156);
        border-radius: 3px;

        strong {
          align-self: self-end;
          font-size: 16px;
          margin-left: 8px;
          color: azure;
        }
        span {
          margin-left: 12px;
          align-self: self-end;
          font-size: 12px;
          opacity: 0.7;
          color: azure;
        }
      }
      .gym {
        background: rgb(132, 132, 137);
        width: 90px;
        height: 30px;
        border: 1px solid rgb(158, 156, 156);
        border-radius: 3px;

        span {
          margin-left: 12px;
          align-self: self-end;
          font-size: 12px;
          opacity: 0.7;
          color: azure;
        }
      }
      .button_block {
        background: rgb(132, 132, 137);
        width: 170px;
        height: 30px;
        border: 1px solid rgb(158, 156, 156);
        border-radius: 3px;
      }

      .buttonPlan {
        background: rgb(132, 132, 137);
        width: 130px;
        height: 30px;
        border: 1px solid rgb(158, 156, 156);
        border-radius: 3px;
      }
    }


  
  


