@use 'sass:color';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;500;900&display=swap");
$form-bg: #e9e6e4;
$bg: #e9e6e4;
$fg: #121418;
$body-bg: #e9e6e4;
$title-color: #121418;
$subtitle-color: #161419;
$border-color: #94918f;
:root {
	font-family: "Noto Sans", sans-serif;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
  
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
  transition: .3s ease;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

body {
 
  height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  
	
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;   
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

form {
  background-color: #{$form-bg};
  color: #{$subtitle-color};
  display: grid;
  gap: 1em;
  padding: 1rem;
}

select {

	all: unset;
 height: 27px;
 width: 120px;
	border: none;
	border-radius: 0.3em;
	padding: 0.3em 0.8em;
	background-color: transparent;
	box-shadow: 
		-0.2em -0.15em 0.2em 0 transparentize(darken($bg, 20%), .5),
		0.2em 0.15em .2em 0 transparentize(lighten($bg, 20%), .5);
	
}
input {

  all: unset;
 height: 27px;
 width: 170px;
  border: none;
  border-radius: 0.3em;
  padding: 0.3em 0.8em;
  background-color: transparent;
  box-shadow: 
    -0.2em -0.15em 0.2em 0 transparentize(darken($bg, 20%), .5),
		0.2em 0.15em .2em 0 transparentize(lighten($bg, 20%), .5);
		
}

:is([type='submit']):not(:active),
{
  box-shadow: 
    -0.2em -0.15em 0.2em 0 transparentize(lighten($bg, 20%), .5),
		0.2em 0.15em .2em 0 transparentize(darken($bg, 20%), .5);
}
// [type='range'] {
//   box-shadow: none;
// }


fieldset {
	width: 60%;
  border: 0.1em solid #{$bg};
  border-radius: 0.7em;
  padding: 2em 2em 2em;
	box-shadow: -0.25em -0.2em 0.5em 0 transparentize(lighten($bg, 20%), 0.2) inset,
		0.25em 0.2em 0.5em 0 transparentize(darken($bg, 20%), 0.2) inset;
  
}

.fieldset {
	width: 60%;
  border: 0.1em solid #{$bg};
  border-radius: 0.7em;
  padding: 1em 1em 1em;
	box-shadow: -0.1em -0.1em 0.8em 0 transparentize(lighten($bg, 20%), 0.1) inset,
		0.1em 0.1em 0.3em 0 transparentize(darken($bg, 20%), 0.1) inset;
  
}




// legend {
//   translate: 0 2.5em;
// }


// .btngroup legend {
//   display: none;
// }
.btngroup {
  box-shadow: none;
  padding-top: 1em;
	float: right;	
 
}
.btn  {
  display: flex;
justify-content: center;
font-weight:400;
  color: rgba(11, 1, 182, 0.844);
}
._sub {
  width: 80px;
  height:25px;
  font-size: 14px;
}
._sub-small {
  width: auto;
  height:20px;
  font-size: 12px;
}
/* layout */

// h1 {
//   background-color: #{$form-bg};
//   color: color.scale($title-color, $saturation: 30%, $lightness: 70%);
//   font-weight: 900;
//   padding: 1em 1rem 0;
//   margin: 0;
  
//   text-shadow: 
//     -0.05em -0.05em 0.1em transparentize(darken($bg, 20%), .1),
// 		0.05em 0.05em 0.1em transparentize(lighten($bg, 20%), .1);
// }
body {
  background-color: #{$body-bg};
  font-size: 1.2rem;
  font-weight: 100;
}
// form {
//   background-color: #{$form-bg};
//   color: #{$subtitle-color};
//   display: grid;
//   gap: 1em;
//   padding: 1rem;
// }
// fieldset {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   gap: 1.5em;
//   align-items: center;
//   grid-auto-flow: column;
// }
// legend {
//   grid-column: 1 / -1;
//   color: color.scale(complement($title-color), $saturation: 70%, $lightness: 50%);
//   font-weight: 500;
//   font-size: 1.4rem;
// }
// label {
//   grid-column: 1 / 3;
  
// }
// fieldset > label:first-of-type {
//   grid-row: 1;
// }
// input:not(:is([type='button'], [type='submit'], [type='reset'])){
//   grid-column: 3 / -1;
// }
// input:is([type='checkbox'], [type='radio']) + label {
//   grid-column: 1 / 5;
// }

input:-webkit-autofill {
  box-shadow: 
    -0.2em -0.15em 0.2em 0 transparentize(darken($bg, 20%), .5),
		0.2em 0.15em .2em 0 transparentize(lighten($bg, 20%), .5),
    0 0 0px 1000px #{$bg} inset;
}
input:focus {
  outline: 1px inset transparentize(darken($border-color, 20%), .9);
  outline-offset: .5em;
}